/*
@font-face {
	font-family: 'HelveticaLight';
	src: url('../fonts/helveticalight-webfont.eot');
	src: local('☺'), url('../fonts/helveticalight-webfont.woff') format('woff'), url('../fonts/helveticalight-webfont.ttf') format('truetype'), url('../fonts/helveticalight-webfont.svg#webfonteFthI6J8') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

/*
@font-face {
	font-family: 'HelveticaNeueLight';
	src: url('../fonts/helveticaneuelight-webfont.eot');
	src: local('☺'), url('../fonts/helveticaneuelight-webfont.woff') format('woff'), url('../fonts/helveticaneuelight-webfont.ttf') format('truetype'), url('../fonts/helveticaneuelight-webfont.svg#webfontLnBuRAMh') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

@mixin font-definition-special {
	/*font-family: "HelveticaNeueUltraLight", helvetica, verdana, sans-serif;*/
	font-weight:100;
	font-style:normal;
	font-family: 'Raleway', arial, serif;
}


@font-face {
	font-family: 'HelveticaNeueUltraLight';
	src: url('../fonts/helveticaneueultralight-webfont.eot');
	src: local('☺'), url('../fonts/helveticaneueultralight-webfont.woff') format('woff'), url('../fonts/helveticaneueultralight-webfont.ttf') format('truetype'), url('../fonts/helveticaneueultralight-webfont.svg#webfontfOyiCJQU') format('svg');
	font-weight: normal;
	font-style: normal;
}
