#modal{display:none;}

/* Overlay */
#simplemodal-overlay {background-color:#fade6c;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#bbb; background-color:#8f8065; border:5px solid #5a5042; padding:12px;}
#simplemodal-container .simplemodal-data {padding:8px;}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a {color:#ddd;}
/*#simplemodal-container a.modalCloseImg {background:url(../img/basic/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}*/
#simplemodal-container h3 {color:#84b8d9;}

#modal h3{ 
	font-size:20px; 
	color:#fff;
	font-family: helvetica, verdana, sans-serif;
	font-weight:bold;
	padding-bottom:12px;
}

#modal p{
	color:#fff;
	font-size:12px;
	padding-bottom:10px;
	width:500px;
}

#modal ul li{
	padding-bottom:5px;
}

