$navigation-link-padding-right: 11px;
$vertical-bar-width:8px;

@mixin navigation-button($width) {
	width:$width - $navigation-link-padding-right;
	background-position:($width - $vertical-bar-width) 6px;
}

#navigation {
	position:absolute;
	width:172px;
	height:643px;
	left:9px;
	top:0;
	background:url("../images/background-navigation.png") no-repeat top left;
	padding-left:98px;
	padding-top:87px;
}

#navigation ul{
	
}

#navigation ul li{
	height:32px;
	width:143px;
	margin-bottom:3px;
	padding-bottom:3px;
	background:url("../images/border-2px.png") repeat-x bottom left;
}

#navigation ul li a{
	@include font-definition-special;
	@include rounded-corners;
	height:22px;
	font-size:17px;
	display:block;
	color:#fff;
	text-decoration:none;
	padding:8px 0 0 $navigation-link-padding-right;
	background:rgba(128, 119, 103, 0.79) url("../images/background-navigation-buttons.png") no-repeat;
}

#navigation ul li a.hola{
	@include navigation-button(60px);
}

#navigation ul li a.about-us{
	@include navigation-button(125px);
}

#navigation ul li a.wedding-party{
	@include navigation-button(138px);
}

#navigation ul li a.location{
	@include navigation-button(89px);
}

#navigation ul li a.things-to-do{
	@include navigation-button(128px);
}

#navigation ul li a.registry{
	@include navigation-button(85px);
}

